<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" type="text/css" href="css/style-admin.css">

   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>



   <div class="heading">
      <h1>Admin : Question Bank</h1>

      <h4>
         Design a Horizontal group Radio
         Button using jQuery Mobile
      </h4>

      <form style="width: 50%; margin: auto;">
         <fieldset data-role="controlgroup" data-type="horizontal">
            <label for="radioButtonApproved">Approved</label>
            <input type="radio" name="radioButtonApproved" id="radioButtonApproved" class="custom"
               onclick="approvedQuestionPage();">

            <label for="radioButtonNeedApproval">Needs Approval</label>
            <input type="radio" name="radioButtonNeedApproval" id="radioButtonNeedApproval" class="custom" checked
               onclick="newQuestionPage();">

            <label for="radioButtonDiscarded">Discarded</label>
            <input type="radio" name="radioButtonDiscarded" id="radioButtonDiscarded" class="custom"
               onclick="discardedQuestionPage();">

         </fieldset>
      </form>
   </div>


   <form id="changeCategorySubmitForm" class="changeCategorySubmitForm" method="post" action="/change-category">
      <input type="hidden" id="questionId" name="questionId" value="" />
      <input type="hidden" id="approvalLevel" name="approvalLevel" value="" />
   </form>


   <tr th:each="question: ${questions}">
      <div class="each-question">
         <h1 th:text="${question.getStatement()}">What is the capital of France?</h1>

         <div class="flex-container">
            <div class="each-row">
               <div class="each-option" th:text="${question.getOptionA()}">1. Berlin</div>
               <div class="each-option" th:text="${question.getOptionB()}">2. London</div>
            </div>
            <div class="each-row">
               <div class="each-option" th:text="${question.getOptionC()}">3. Paris</div>
               <div class="each-option" th:text="${question.getOptionD()}">4. Rome</div>
            </div>
         </div>

         <div class="flex-container">
            <div class="each-row approve-button" style="padding: 0px;">
               <button type="button" class="btn btn-primary"
                  th:attr="onclick=|approveQuestion('${question.getQuestionId()}')|">Approve</button>
            </div>
            <div class="each-row edit-button" style="padding: 0px;">
               <button type="button" class="btn btn-primary"
                  th:attr="onclick=|editQuestion('${question.getQuestionId()}')|">Edit</button>
            </div>
            <div class="each-row discard-button" style="padding: 0px;">
               <button type="button" class="btn btn-primary"
                  th:attr="onclick=|discardQuestion('${question.getQuestionId()}')|">Discard</button>
            </div>
         </div>




      </div>
   </tr>




   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-6">
               <h1 class="customer_text">INFORMATION</h1>
               <p class="footer_lorem_text">Whether you're a trivia master or just starting your quiz journey, Quiz-Wizz
                  is the perfect place to challenge yourself and have a great time.
               </p>
            </div>
            <div class="col-lg-4 col-sm-6">
               <h1 class="customer_text">LET US HELP YOU</h1>
               <p class="footer_lorem_text">We are passionate about testing your knowledge and providing
                  a platform for fun and learning.
               </p>
            </div>
            <div class="col-lg-4 col-sm-6">
               <h1 class="customer_text">UseFul Links</h1>
               <p class="footer_lorem_text1">
                  <a href="/#about" style="color: #ffffff;">About Us</a><br>
                  <a href="https://shubhamchouksey123.github.io/portfolio/" style="color: #ffffff;">Visit My
                     website</a><br>
                  <a href="https://shubhamchouksey123.github.io/autoCV/cv.pdf" style="color: #ffffff;">Check My
                     Resume</a><br>
                  <a href="/add-question" style="color: #ffffff;">Contribute : Question Set</a><br>
                  <a href="/admin" style="color: #ffffff;">Contribute : Admin</a><br>
                  Press & News<br>
                  Competitions<br>
                  Terms & Conditions
               </p>
            </div>
         </div>
      </div>
   </div>
   <!--  footer section end -->

   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Shubham Chouksey
         </p>
      </div>

      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"></script>
      <script src="js/main-admin.js"></script>
   </div>

</body>

</html>