<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Vintage Fur</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="css/style-updated.css">


   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>

<body>
   <!-- header section start -->
   <div id="home" class="header_section">
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-nav-bar">
            <div class="logo"><a href="/home"><img src="images/website-logo-1x.webp"
                     style="width: 15%; float: left;"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a href="#home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                  </li>
                  <li class="nav-item">
                     <a href="#services" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Services</span></a>
                  </li>
                  <li class="nav-item">
                     <a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a>
                  </li>
                  <li class="nav-item">
                     <a href="#leader_board" class="nav-link scrollto"><i class="bx bx-user"></i>
                        <span>LeaderBoard</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/quiz">Start Quiz</a>
                  </li>
                  <li class="nav-item">
                     <a href="#contact" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Contact</span></a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>


      <!--      Plain background-->
      <!--      <p style="color: green;text-align: center; background-color: #f1e4e4a6">Thank You for contacting, we will connect to you at the earliest.</p>-->

      <!--      background green transparent-->
      <!--      <div class="alert alert-success" style="text-align: center;max-width: 500px;margin: auto;background-color: #b4ddbed9;margin-top:20px;width:90%;" role="alert">-->
      <!--         Thank You for contacting, we will connect to you at the earliest!.-->
      <!--      </div>-->

      <span th:if="${successValue == true}">
         <div class="alert alert-success"
            style="text-align: center;max-width: 500px;margin: auto;background-color: #b4ddbed9;margin-top:20px;width:90%;"
            role="alert">
            <span th:text="${contactMessage}"></span>
         </div>
      </span>

      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="costum_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <h1 class="furniture_text">Quiz Wizz ?</h1>
                     <p class="there_text">Are you smarter than 90% of the population of your age ?</p>
                     <div class="contact_bt_main">
                        <div class="contact_bt"><a href="/contact">Contact Us</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="furniture_text">FURNITURE</h1>
                     <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some fo</p>
                     <div class="contact_bt_main">
                        <div class="contact_bt"><a href="/contact">Contact Us</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="furniture_text">FURNITURE</h1>
                     <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some fo</p>
                     <div class="contact_bt_main">
                        <div class="contact_bt"><a href="/contact">Contact Us</a></div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
                  <i class=""><img src="images/left-arrow.png"></i>
               </a>
               <a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
                  <i class=""><img src="images/right-arrow.png"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- banner section end -->
   </div>
   <!-- header section end -->

   <!-- services section start -->
   <div id="services" class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital">our services</h1>
         <p class="many_taital">There are many variations of passages of Lorem Ipsum </p>
         <div class="services_section2 layout_padding">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="icon_1"><img src="images/icon-quiz-new.png"></div>
                  <h2 class="furnitures_text">quiz</h2>
                  <p class="dummy_text">Free online quiz </p>
                  <div class="read_bt_main">
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 testimonial-img">
                  <div class="icon_1"><img src="images/icon-facts-new.png"></div>
                  <h2 class="furnitures_text">facts</h2>
                  <p class="dummy_text">Daily random facts</p>
                  <div class="read_bt_main">
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="icon_1"><img src="images/icon-news-new.png"></div>
                  <h2 class="furnitures_text">News</h2>
                  <p class="dummy_text">Daily latest news in shorts</p>
                  <div class="read_bt_main">
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 testimonial-img">
                  <div class="icon_1"><img src="images/icon-blog-new.png"></div>
                  <h2 class="furnitures_text">Blog</h2>
                  <p class="dummy_text">Read my blogs</p>
                  <div class="read_bt_main">
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- services section end -->

   <!-- about section start -->
   <div id="about" class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1 class="about_text">About Us</h1>
               <p class="lorem_text">Helping you compare !</p>
               <p class="lorem_text">We aim to help you compare you with with your colleges of your same age.</p>
               <div class="read_bt1"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-6">
               <div class="image_1"><img src="images/img-1.png"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->

   <!-- leader board section start -->
   <div id="leader_board" class="furnitures_section layout_padding">
      <div class="container">
         <h1 class="our_text">Leader board</h1>
         <p class="ipsum_text">There are many variations of passages of Lorem Ipsum </p>
      </div>
   </div>

   <table class="table table-striped" style="table-layout: auto;width: 100%; max-width: 1000px; margin: auto;">
      <thead>
         <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <!-- <th scope="col">Email</th> -->
            <th scope="col">Score</th>
         </tr>
      </thead>
      <tbody>
         <tr th:each="performer, iterStat: ${performers}">
            <td>
               <span th:if="${iterStat.index == 0}">
                  <img src="images/badge-first.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
               </span>
               <span th:if="${iterStat.index == 1}">
                  <img src="images/badge-second.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
               </span>
               <span th:if="${iterStat.index == 2}">
                  <img src="images/badge-third.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
               </span>
               <span th:if="${iterStat.index > 2}">
                  <img src="images/badge-rest.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
               </span>
            </td>
            <th scope="row" th:text="${performer.getName()}">Naman Chouksey</th>
            <!-- <td>naman.chouksey@gmail.com</td> -->
            <td th:text="${performer.score}">7</td>
         </tr>
      </tbody>
   </table>
   <!-- leader board section end -->

   <!-- who section start -->
   <!-- <div class="who_section layout_padding">
      <div class="container">
         <h1 class="who_taital">who we are ?</h1>
         <h4 class="designer_text">DESIGNERS & INNOVATORS</h4>
         <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
         </p>
      </div>
      <div class="get_bt_main">
         <div class="get_bt"><a href="#">Get A Quote</a></div>
      </div>
   </div> -->
   <!-- who section end -->

   <!-- projects section start -->
   <!-- <div id="projects" class="projects_section layout_padding">
      <div class="container">
         <h1 class="our_text">Our projects</h1>
         <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="projects_section2">
                     <div class="container_main2">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-4.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-5.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-6.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="projects_section2">
                     <div class="container_main1">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-4.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-5.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-6.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="projects_section2">
                     <div class="container_main1">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-4.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-5.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="container_main1">
                                 <img src="images/img-6.png" alt="Avatar" class="image" style="width:100%">
                                 <h1 class="modern_text">Modern home designe</h1>
                                 <div class="middle">
                                    <div class="text">VIEW MORE</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
   </div> -->
   <!-- projects section end -->

   <!-- client section start -->
   <!-- <div class="clients_section layout_padding">
      <div class="container">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <h1 class="client_text">what is says our clients</h1>
                  <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <div class="clients_section2 layout_padding">
                     <div class="client_1">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-7.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                     <div class="client_2">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-8.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <h1 class="client_text">what is says our clients</h1>
                  <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <div class="clients_section2 layout_padding">
                     <div class="client_1">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-7.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                     <div class="client_2">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-8.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <h1 class="client_text">what is says our clients</h1>
                  <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <div class="clients_section2 layout_padding">
                     <div class="client_1">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-7.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                     <div class="client_2">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-8.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <h1 class="client_text">what is says our clients</h1>
                  <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <div class="clients_section2 layout_padding">
                     <div class="client_1">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-7.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                     <div class="client_2">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="image_7"><img src="images/img-8.png"></div>
                              <div class="quote_icon"><img src="images/quote-icon.png"></div>
                           </div>
                           <div class="col-sm-9">
                              <h1 class="loksans_text">loksans</h1>
                              <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <!-- client section end -->

   <!-- contact section start -->
   <div id="contact" class="contact_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1 class="contact_text">CONTACT US</h1>
               <div class="mail_sectin">
                  <p style="color: green"><span th:text="${contactMessage}"></span></p>
                  <form id="contactQueryForm" method="post" action="/submit-contact">
                     <input type="text" class="email-bt" placeholder="Name" name="name">
                     <input type="text" class="email-bt" placeholder="Email" name="email">
                     <input type="text" class="email-bt" placeholder="Phone Number" name="phoneNumber">
                     <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="message"></textarea>
                     <div class="read_bt_main">
                        <div class="read_bt"><a onclick="submitContactQueryForm();">SEND</a></div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-md-6">
               <div class="map_main">
                  <div class="map-responsive">
                     <!-- iframe Delhi -->
                     <!--                     <iframe title="frameGoggleMapDelhi" width="600" height="500" frameborder="0"-->
                     <!--                        style="border:0; width: 100%; border: black-solid 4px;" allowfullscreen=""-->
                     <!--                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56062.11306740246!2d77.0038955642826!3d28.573303878181285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1a9c31eec4e1%3A0x39493976cba4c89a!2sDwarka%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1688882430519!5m2!1sen!2sin"></iframe>-->
                     <!-- iframe Salichouka Road -->
                     <iframe title="frameGoggleMapDelhi" width="600" height="500" frameborder="0"
                        style="border:0; width: 100%; border: black-solid 4px;" allowfullscreen=""
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.1933569159055!2d78.67236027513464!3d22.83233477930759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397fad21182f8e0d%3A0x9414b5e37de9b2ab!2sSalichouka%20Rd%2C%20Babai%20Kalan%2C%20Madhya%20Pradesh%20487881!5e0!3m2!1sen!2sin!4v1702783484765!5m2!1sen!2sin"></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact section end -->

   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">INFORMATION</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">LET US HELP YOU</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">UseFul Links</h1>
               <p class="footer_lorem_text1">About Us<br>
                  Careers<br>
                  Sell on shopee<br>
                  Press & News<br>
                  Competitions<br>
                  Terms & Conditions
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">OUR Design</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by
               </p>
            </div>
         </div>
         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email"
               aria-describedby="basic-addon2">
            <div class="input-group-append">
               <span class="input-group-text" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
         </div>
      </div>
   </div>
   <!--  footer section end -->

   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Shubham Chouksey
         </p>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="js/main.js"></script>
   </div>
</body>

</html>