<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Vintage Fur</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <base href="/">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="css/style-updated.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">

</head>


<script th:inline="javascript">
   function showDesiredQuestion() {
      var elementCurrentQuestionNumber = document.getElementById("questionNumberToShow");
      let currentQuestionValue = Number(elementCurrentQuestionNumber.value);

      var index = currentQuestionValue - 1;
      var usersArray = [[${ questions }]];
      if (index >= 0 && index <= usersArray.length - 1) {
         document.getElementById("questionDescription").innerHTML = usersArray[index].statement;

         document.getElementById("optionADescription").innerHTML = usersArray[index].optionA;
         document.getElementById("optionBDescription").innerHTML = usersArray[index].optionB;
         document.getElementById("optionCDescription").innerHTML = usersArray[index].optionC;
         document.getElementById("optionDDescription").innerHTML = usersArray[index].optionD;

      }
   }

   function showDesiredNumberQuestion(number) {
      console.log("rendering question number : " + number);
      var usersArray = [[${ questions }]];
      if (number >= 0 && number < usersArray.length) {
         document.getElementById("questionDescription").innerHTML = usersArray[number].statement;

         document.getElementById("optionADescription").innerHTML = usersArray[number].optionA;
         document.getElementById("optionBDescription").innerHTML = usersArray[number].optionB;
         document.getElementById("optionCDescription").innerHTML = usersArray[number].optionC;
         document.getElementById("optionDDescription").innerHTML = usersArray[number].optionD;

      }
   }
</script>

<body>
   <!-- header section start -->
   <div class="header_section">
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-nav-bar">
            <div class="logo"><a href="/home"><img src="images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/services">services</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/shop">Shop</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/contact">Contact</a>
                  </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                  <div class="search_icon">
                     <ul>
                        <li><a href="#"><img src="images/search-icon.png"></a></li>
                        <li><a href="#">LOGIN</a></li>
                     </ul>
                  </div>
               </form>
            </div>
         </nav>
      </div>
   </div>
   <!-- header section end -->


   <!-- quiz section start -->
   <div class="quiz_section layout_padding">
      <div class="container">
         <div class="row">
            <h1 class="about_text">Quiz</h1>

            <input type="hidden" id="questionNumberToShow" name="questionNumberToShow"
               th:value="${questionNumberToShow}" />
            <input type="hidden" id="totalQuestions" name="totalQuestions" th:value="${totalQuestions}" />
<!--            <input type="data" id="userOptedAnswers" placeholder="userOptedAnswers" />-->
            <input type="hidden" id="userOptedAnswers" name="userOptedAnswers" value="" />


            <div class="col-12">
               <div class="d-flex justify-content-centre" style="justify-content: flex-end;">
                  <button id="submit_quiz_request_button" class="btn btn-primary px-4 py-2 fw-bold button-flex"><a
                        href="#submit_quiz_form" class="scrollto active"><i class="bx bx-home"></i> <span>Submit Quiz
                        </span></a>
                  </button>

                  <button class="btn btn-primary px-4 py-2 fw-bold button-flex">End Quiz</button>
               </div>
            </div>


            <div class="container1 mb-5">
               <div class="question p-3 border-bottom">
                  <div class="d-flex flex-row justify-content-between align-items-center mcq">
                     <h4>MCQ Quiz</h4><span>(5 of [(${totalQuestions})])</span>
                  </div>
               </div>
               </br>

               <div class="row">

                  <div class="col-12">
                     <p id="questionDescription" class="fw-bold mt-5">2.
                     </p>
                     <div>
                        <div class="row">
                           <div class="col-md-6">
                              <input type="radio" name="optionSelected" id="optionAButton" value="0" onclick="optionSelected(0);"> <label for="optionAButton"
                                 class="box fifth w-100">
                                 <div class="course"> <span class="circle"></span>
                                    <span class="subject" id="optionADescription"> </span>
                                 </div>
                              </label>
                           </div>
                           <div class="col-md-6">
                              <input type="radio" name="optionSelected" id="optionBButton" value="1" onclick="optionSelected(1);"> <label for="optionBButton"
                                 class="box sixth w-100">
                                 <div class="course"> <span class="circle"></span> <span class="subject"
                                       id="optionBDescription"> </span>
                                 </div>
                              </label>
                           </div>
                           <div class="col-md-6">
                              <input type="radio" name="optionSelected" id="optionCButton" value="2" onclick="optionSelected(2);"> <label for="optionCButton"
                                 class="box seveth w-100">
                                 <div class="course"> <span class="circle"></span> <span class="subject"
                                       id="optionCDescription">
                                    </span> </div>
                              </label>
                           </div>
                           <div class="col-md-6">
                              <input type="radio" name="optionSelected" id="optionDButton" value="3" onclick="alert('helloA');"> <label for="optionDButton"
                                 class="box eighth w-100">
                                 <div class="course"> <span class="circle"></span> <span class="subject"
                                       id="optionDDescription">
                                    </span> </div>
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>



                  <div class="col-12">
                     <div class="d-flex justify-content-center">
                        <button class="btn btn-primary px-4 py-2 fw-bold">continue1</button>
                     </div>
                  </div>
               </div>
               <div class="d-flex flex-row justify-content-between align-items-center p-3">
                  <button id="previousQuestionButton" class="btn btn-primary d-flex align-items-center btn-danger"
                     type="button">
                     <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous
                  </button>
                  <button id="nextQuestionButton" class="btn btn-primary border-success align-items-center btn-success"
                     type="button">Next
                     <i class="fa fa-angle-right ml-2"></i>
                  </button>
               </div>

            </div>

         </div>

         <div id="submit_quiz_form" class="row" style="display: none;">
            <div class="row mail_sectin" style="max-width: 600px; margin: auto;">
               <input type="text" class="email-bt" placeholder="Name" name="Name">
               <input type="text" class="email-bt" placeholder="Email" name="Name">
               <div class="read_bt_main">
                  <div class="read_bt"><a href="#">Submit</a></div>
               </div>
            </div>
         </div>

      </div>

   </div>
   <!-- quiz section end -->



   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">INFORMATION</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">LET US HELP YOU</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">UseFul Links</h1>
               <p class="footer_lorem_text1">About Us<br>
                  Careers<br>
                  Sell on shopee<br>
                  Press & News<br>
                  Competitions<br>
                  Terms & Conditions
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">OUR Design</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by
               </p>
            </div>
         </div>
         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email"
               aria-describedby="basic-addon2">
            <div class="input-group-append">
               <span class="input-group-text" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
         </div>
      </div>
   </div>
   <!--  footer section end -->

   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Free html
               Templates</a> Distribution By <a href="https://themewagon.com">ThemeWagon</a></p>
      </div>

      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
   </div>

</body>

</html>